[submodule "nethack-upstream"]
	path = nethack-c/upstream
	url = https://github.com/NetHack/NetHack.git
[submodule "dungeon/fortran-upstream"]
	path = dungeon/fortran-upstream
	url = https://github.com/GOFAI/dungeon.git
[submodule "hack/hack-c/upstream"]
	path = hack/hack-c/upstream
	url = https://github.com/Sustainable-Games/fenlason-hack
[submodule "rogue/rogue-c/upstream"]
	path = rogue/rogue-c/upstream
	url = https://github.com/RoguelikeRestorationProject/rogue3.6.git
